body {
    font-family: 'Poppins', sans-serif; /* Find your font on Google Fonts */
    text-align: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#quote-container {
    border-radius: 10px; 
    max-width: 600px;
}
